# Assignment 3 - Pandas Data Analysis Practice

*This assignment is a part of the course ["Data Analysis with Python: Zero to Pandas"](https://jovian.ai/learn/data-analysis-with-python-zero-to-pandas)*

In this assignment, you'll get to practice some of the concepts and skills covered in this tutorial: https://jovian.ai/aakashns/python-pandas-data-analysis

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end. 

Some things to keep in mind:

* Make sure to run all the code cells, otherwise you may get errors like `NameError` for undefined variables.
* Do not change variable names, delete cells or disturb other existing code. It may cause problems during evaluation.
* In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**. 
* Since you'll be using a temporary online service for code execution, save your work by running `jovian.commit` at regular intervals.
* Questions marked **(Optional)** will not be considered for evaluation, and can be skipped. They are for your learning.

You can make submissions on this page: https://jovian.ai/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

If you are stuck, you can ask for help on the community forum: https://jovian.ai/forum/t/assignment-3-pandas-practice/11225/3. You can get help with errors or ask for hints, describe your approach in simple words, link to documentation, but **please don't ask for or share the full working answer code** on the forum.


## How to run the code and save your work

The recommended way to run this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. 

Before starting the assignment, let's save a snapshot of the assignment to your Jovian.ai profile, so that you can access it later, and continue your work.

In [1]:
import jovian

In [3]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "prasadposture121/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/prasadposture121/pandas-practice-assignment

'https://jovian.ai/prasadposture121/pandas-practice-assignment'

In [4]:
# Run the next line to install Pandas
#!pip install pandas --upgrade

In [5]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [6]:
from urllib.request import urlretrieve

urlretrieve('https://gist.githubusercontent.com/aakashns/28b2e504b3350afd9bdb157893f9725c/raw/994b65665757f4f8887db1c85986a897abb23d84/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x17890fa4b80>)

Let's load the data from the CSV file into a Pandas data frame.

In [7]:
countries_df = pd.read_csv('countries.csv')

In [29]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

**Q1: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [9]:
num_countries = countries_df.shape[0]

In [10]:
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

In [11]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "prasadposture121/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/prasadposture121/pandas-practice-assignment

'https://jovian.ai/prasadposture121/pandas-practice-assignment'

**Q2: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [21]:
continents=list(countries_df['continent'].unique())

In [22]:
continents

['Asia', 'Europe', 'Africa', 'North America', 'South America', 'Oceania']

In [23]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "prasadposture121/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/prasadposture121/pandas-practice-assignment

'https://jovian.ai/prasadposture121/pandas-practice-assignment'

**Q3: What is the total population of all the countries listed in this dataset?**

In [24]:
total_population = countries_df['population'].sum()

In [25]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [26]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "prasadposture121/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/prasadposture121/pandas-practice-assignment

'https://jovian.ai/prasadposture121/pandas-practice-assignment'

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [40]:
import numpy as np
life_expectancies = (np.multiply(countries_df['life_expectancy'],countries_df['population'])).sum()/total_population

In [41]:
life_expectancies

72.72165193409664

In [42]:
print('Overall life expectancy of across the world is {}'.format(life_expectancies))

Overall life expectancy of across the world is 72.72165193409664

In [43]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "prasadposture121/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/prasadposture121/pandas-practice-assignment

'https://jovian.ai/prasadposture121/pandas-practice-assignment'

**Q4: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [50]:
most_populous_df = countries_df.sort_values('population', ascending=False).head(10)

In [52]:
most_populous_df['location']

41             China
90             India
199    United States
91         Indonesia
145         Pakistan
27            Brazil
141          Nigeria
15        Bangladesh
157           Russia
125           Mexico
Name: location, dtype: object

In [53]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "prasadposture121/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/prasadposture121/pandas-practice-assignment

'https://jovian.ai/prasadposture121/pandas-practice-assignment'

**Q5: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [54]:
countries_df['gdp'] = np.multiply(countries_df['gdp_per_capita'],countries_df['population'])

In [55]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

In [56]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "prasadposture121/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/prasadposture121/pandas-practice-assignment

'https://jovian.ai/prasadposture121/pandas-practice-assignment'

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [57]:
lowest_gdp = countries_df.sort_values('gdp_per_capita').head(10)

In [58]:
lowest_gdp['location']

38         Central African Republic
32                          Burundi
111                         Liberia
52     Democratic Republic of Congo
140                           Niger
118                          Malawi
132                      Mozambique
168                    Sierra Leone
43                          Comoros
117                      Madagascar
Name: location, dtype: object

In [60]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "prasadposture121/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/prasadposture121/pandas-practice-assignment

'https://jovian.ai/prasadposture121/pandas-practice-assignment'

**Q6: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [72]:
country_counts_df = countries_df.groupby('continent')['location'].count()

In [73]:
country_counts_df

continent
Africa           55
Asia             47
Europe           51
North America    36
Oceania           8
South America    13
Name: location, dtype: int64

In [74]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "prasadposture121/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/prasadposture121/pandas-practice-assignment

'https://jovian.ai/prasadposture121/pandas-practice-assignment'

**Q7: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [75]:
continent_populations_df = countries_df.groupby('continent')['population'].sum()

In [76]:
continent_populations_df

continent
Africa           1.339424e+09
Asia             4.607388e+09
Europe           7.485062e+08
North America    5.912425e+08
Oceania          4.095832e+07
South America    4.304611e+08
Name: population, dtype: float64

In [77]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "prasadposture121/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/prasadposture121/pandas-practice-assignment

'https://jovian.ai/prasadposture121/pandas-practice-assignment'

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [78]:
urlretrieve('https://gist.githubusercontent.com/aakashns/b2a968a6cfd9fbbb0ff3d6bd0f26262b/raw/b115ed1dfa17f10fc88bf966236cd4d9032f1df8/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x17896e4d8e0>)

In [79]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [80]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

**Q8: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [83]:
total_tests_missing = covid_data_df['total_tests'].isna().sum()

In [84]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 122 countries.

In [85]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "prasadposture121/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/prasadposture121/pandas-practice-assignment

'https://jovian.ai/prasadposture121/pandas-practice-assignment'

Let's merge the two data frames, and compute some more metrics.

**Q9: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [86]:
combined_df = covid_data_df.merge(countries_df, on="location")

In [87]:
combined_df

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,38243.0,1409.0,NaN,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,9728.0,296.0,NaN,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,45158.0,1525.0,NaN,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,1199.0,53.0,NaN,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,2729.0,109.0,NaN,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,1046.0,35.0,261004.0,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,766.0,1.0,NaN,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,1976.0,571.0,NaN,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,12415.0,292.0,NaN,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,6638.0,206.0,97272.0,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

In [88]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "prasadposture121/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/prasadposture121/pandas-practice-assignment

'https://jovian.ai/prasadposture121/pandas-practice-assignment'

**Q10: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [89]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [90]:
combined_df['cases_per_million'] = combined_df['total_cases'] * 1e6 / combined_df['population']

In [91]:
combined_df['deaths_per_million'] = combined_df['total_deaths'] * 1e6 / combined_df['population']

In [92]:
combined_df

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,tests_per_million,cases_per_million,deaths_per_million
0,Afghanistan,38243.0,1409.0,NaN,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,NaN,982.394806,36.194710
1,Albania,9728.0,296.0,NaN,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,NaN,3380.359997,102.856349
2,Algeria,45158.0,1525.0,NaN,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,NaN,1029.804468,34.776824
3,Andorra,1199.0,53.0,NaN,Europe,77265.0,83.73,NaN,NaN,NaN,NaN,15518.022390,685.950948
4,Angola,2729.0,109.0,NaN,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,NaN,83.033462,3.316470
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,1046.0,35.0,261004.0,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,2681.403324,10.745996,0.359570
206,Western Sahara,766.0,1.0,NaN,Africa,597330.0,70.26,NaN,NaN,NaN,NaN,1282.373228,1.674116
207,Yemen,1976.0,571.0,NaN,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,NaN,66.250993,19.144391
208,Zambia,12415.0,292.0,NaN,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,NaN,675.317108,15.883415
209,Zimbabwe,6638.0,206.0,97272.0,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,6544.605918,446.614587,13.859989

In [94]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "prasadposture121/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/prasadposture121/pandas-practice-assignment

'https://jovian.ai/prasadposture121/pandas-practice-assignment'

**Q11: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [97]:
highest_tests_df = combined_df.sort_values('tests_per_million', ascending=False).head(10)

In [101]:
highest_tests_df['location']

197    United Arab Emirates
14                  Bahrain
115              Luxembourg
122                   Malta
53                  Denmark
96                   Israel
89                  Iceland
157                  Russia
199           United States
10                Australia
Name: location, dtype: object

In [102]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "prasadposture121/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/prasadposture121/pandas-practice-assignment

'https://jovian.ai/prasadposture121/pandas-practice-assignment'

**Q12: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [103]:
highest_cases_df = combined_df.sort_values('cases_per_million', ascending=False).head(10)

In [105]:
highest_cases_df['location']

155            Qatar
14           Bahrain
147           Panama
40             Chile
162       San Marino
9              Aruba
105           Kuwait
150             Peru
27            Brazil
199    United States
Name: location, dtype: object

In [106]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "prasadposture121/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/prasadposture121/pandas-practice-assignment

'https://jovian.ai/prasadposture121/pandas-practice-assignment'

**Q13: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [107]:
highest_deaths_df = combined_df.sort_values('deaths_per_million', ascending=False).head(10)

In [109]:
highest_deaths_df['location']

162        San Marino
150              Peru
18            Belgium
3             Andorra
177             Spain
198    United Kingdom
40              Chile
97              Italy
27             Brazil
182            Sweden
Name: location, dtype: object

In [110]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "prasadposture121/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/prasadposture121/pandas-practice-assignment

'https://jovian.ai/prasadposture121/pandas-practice-assignment'

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [112]:
in_both=[]
for i in list(highest_tests_df['location'])+list(highest_cases_df['location']):
    if i in in_both:
        pass
    else:
        if (i in list(highest_tests_df['location'])) & (i in list(highest_cases_df['location'])):
            in_both.append(i)

In [113]:
in_both

['Bahrain', 'United States']

In [114]:
print('Number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million" is {}'.format(len(in_both)))

Number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million" is 2

In [115]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "prasadposture121/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/prasadposture121/pandas-practice-assignment

'https://jovian.ai/prasadposture121/pandas-practice-assignment'

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [127]:
lowest_gdp = combined_df[combined_df.population>10000000].sort_values('gdp_per_capita').head(20)
lowest_beds = combined_df[combined_df.population>10000000].sort_values('hospital_beds_per_thousand').head(20)

In [130]:
print('Contries that have lowest gdp per capita')
lowest_gdp['location']

Contries that have lowest gdp per capita

32                          Burundi
52     Democratic Republic of Congo
140                           Niger
118                          Malawi
132                      Mozambique
117                      Madagascar
207                           Yemen
176                     South Sudan
85                            Haiti
195                          Uganda
31                     Burkina Faso
63                         Ethiopia
39                             Chad
0                       Afghanistan
158                          Rwanda
209                        Zimbabwe
82                           Guinea
121                            Mali
20                            Benin
135                           Nepal
Name: location, dtype: object

In [131]:
print('Contries with lowest number of hospital beds per thousand people')
lowest_beds['location']

Contries with lowest number of hospital beds per thousand people

121            Mali
117      Madagascar
140           Niger
135           Nepal
82           Guinea
63         Ethiopia
31     Burkina Faso
195          Uganda
0       Afghanistan
20            Benin
90            India
80        Guatemala
145        Pakistan
85            Haiti
207           Yemen
187        Tanzania
132      Mozambique
32          Burundi
33         Cambodia
204       Venezuela
Name: location, dtype: object

In [132]:
import jovian

In [133]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "prasadposture121/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/prasadposture121/pandas-practice-assignment

'https://jovian.ai/prasadposture121/pandas-practice-assignment'

## Submission 

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission here by filling the submission form: https://jovian.ai/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

Also make sure to help others on the forum: https://jovian.ai/forum/t/assignment-3-pandas-practice/11225/2